:root {
    --background-color: rgba(250, 251, 244, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* background-color: var(--background-color); */
    background-color: pink;
}

.sidebar {
    width: 20%;
    min-height: 100%;
    background-color: aqua;
}

.dashboard-container {
    width: 80vw;
    min-height: 100vh;
    background-color: black;
    color: white;
}