.customer-feedback-card {
    background-color: #f8f9fa;
    padding: 20px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.customer-feedback-card h3 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

button[type="submit"] {
    background-color: var(--sapphire);
    color: var(--background-color);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#customer-feedback-list {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.customer-feedback-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.customer-feedback-item h4 {
    margin-top: 0;
}

.customer-feedback-item p {
    margin-bottom: 0;
}

.see-more-btn {
    background-color: var(--sapphire);
    color: var(--background-color);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    margin-top: 10px;
}