.trial .row {
    justify-content: center;
    margin: var(--margin);

}

.trial .trial-body {
    background-color: var(--cadet-gray-light);
    margin: var(--margin);
    justify-content: center;
    text-align: center;
    border-radius: var(--card-radius);
}

.trial-body .form {
    display: flex;
    justify-content: center;
    margin: var(--margin);

}

.trial-title {
    margin: var(--margin);
}

.trial-paragraph span {
    color: var(--yale-blue);
}

.trial .form .button{

    background-color: var(--sapphire);
    color: var(--background-color);
}