@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {

  /* Color Variables */
  --background-color: rgba(250, 251, 244, 1);
  --sapphire: hsla(221, 65%, 41%, 1);
  --cadet-gray: hsla(216, 11%, 63%, 1);
  --yale-blue: hsla(216, 59%, 25%, 1);
  --black: hsla(210, 50%, 1%, 1);
  --sapphire-h: hsla(221, 65%, 41%, 1);
  --cadet-gray-h: hsla(216, 11%, 63%, 1);
  --yale-blue-h: hsla(216, 59%, 25%, 1);
  --black-h: hsla(210, 50%, 1%, 1);
  --radient-top: linear-gradient(0deg, #254fadff, #979fabff, #1a3866ff, #010203ff);
  --gradient-right: linear-gradient(90deg, #254fadff, #979fabff, #1a3866ff, #010203ff);
  --gradient-bottom: linear-gradient(180deg, #254fadff, #979fabff, #1a3866ff, #010203ff);
  --gradient-left: linear-gradient(270deg, #254fadff, #979fabff, #1a3866ff, #010203ff);
  --gradient-top-right: linear-gradient(45deg, #254fadff, #979fabff, #1a3866ff, #010203ff);
  --gradient-bottom-right: linear-gradient(135deg, #254fadff, #979fabff, #1a3866ff, #010203ff);
  --gradient-top-left: linear-gradient(225deg, #254fadff, #979fabff, #1a3866ff, #010203ff);
  --gradient-bottom-left: linear-gradient(315deg, #254fadff, #979fabff, #1a3866ff, #010203ff);
  --gradient-radial: radial-gradient(#254fadff, #979fabff, #1a3866ff, #010203ff);


  /* Margin Variable */
  --margin: 20px;
  --margin-top: 100px;
  --margin-bottom: 100px;
  --margin-left: 25px;
  --margin-right: 25px;
  --card-margin: 10px;
  --card-margin-top: 10px;
  --card-margin-right: 10px;
  --card-margin-left: 10px;
  --card-margin-bottom: 10px;
  --sub-margin: 20px;
  --sub-margin-top: 30px;
  --sub-margin-right: 30px;
  --sub-margin-bottom: 30px;
  --sub-margin-left: 30px;

  /* Padding Variable */

  --padding: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
  --sub-padding-top: 25px;
  --sub-padding-right: 25px;
  --sub-padding-bottom: 25px;
  --sub-padding-left: 25px;

  /* borders */

  --border: 1px solid var(--sapphire);
  --border-left: 1px solid var(--sapphire);
  --border-right: 1px solid var(--sapphire);
  --border-top: 1px solid var(--sapphire);
  --border-bottom: 1px solid var(--sapphire);
  --card-radius: 10px;
  --button-radius: 5px;


}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Header */
header {
  background-color: var(--background-color);
  color: var(--yale-blue);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: var(--sapphire);
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

.logo a:hover{
  color: var(--background-color);
  background-color: var(--sapphire);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: var(--sapphire);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--background-color);
  background-color: var(--sapphire);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--sapphire);
  margin: 5px;
  transition: all 0.3s ease;
}

/* Hero Section */
#hero {
  background-color: #f5f5f5;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 600px;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  color: var(--sapphire);
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  color: var(--yale-blue);
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background-color: var(--sapphire);
  color: var(--background-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
}

.btn:hover {
  background-color: var(--sapphire);
}

.hero-image{
  width: 400px;
  height: 400px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}



/* About Section */
#about {
  padding: 80px 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('../images/index/Screenshot\ 2024-04-01\ at\ 10.21.03.png');  color: var(--sapphire);

  color: var(--sapphire);
  text-align: center;
}

#about p{
  color: var(--background-color);
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
}

.section-content h2 {
  color: var(--background-color);
  font-size: 36px;
  margin-bottom: 20px;
}

/* Blog Section */
#blog {
  padding: 80px 0;
  text-align: center;
}

#blog h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--sapphire);
}

#blog h3{
  color: var(--yale-blue);
}

#blog p{
  color: var(--sapphire);
}

.blog-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-post {
  max-width: 400px;
  margin: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.blog-post:hover {
  transform: translateY(-10px);
}

.blog-img img {
  max-width: 100%;
  height: auto;
}

.blog-content {
  padding: 20px;
  text-align: left;
}

.blog-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--sapphire);
  border-left: 1px solid var(--sapphire);
  color: var(--sapphire);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: var(--sapphire);
  color: var(--background-color);
}

/* Contact Section */
#contact {
  padding: 80px 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('../images/index/version_control.jpeg');  color: var(--sapphire);
  text-align: center;
}

#contact .section-content {
  max-width: 600px;
}

#contact h2, p{
  color: var(--background-color);

}

#contact .btn:hover{
  background-color: var(--background-color);
  color: var(--sapphire);
}

form {
  margin-top: 40px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--background-color);
  font-size: 16px;
}

.form-group textarea {
  height: 150px;
  resize: none;
}

.sticky-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--sapphire);
  border: none;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sticky-button:hover{
  display: block;
  background-color: var(--background-color);
}

.sticky-button span{
  display: none;
}

.sticky-button span:hover{
  display: block;
  background-color: var(--sapphire);
}

.sticky-button .fa-solid:hover{
  display: none;
}
 

/* Footer */
footer {
  background-color: var(--background-color);
  color: var(--sapphire);
  padding: 20px;
  text-align: center;
}

.social-links a {
  color: var(--sapphire);
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

footer p{
  color: var(--sapphire);
}

.social-links a:hover {
  color: var(--sapphire-h);
}

/* Animations */
.animate-text {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s, transform 0.8s;
}

.animate-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Parallax Effect */
.section-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .burger {
    display: block;
  }

  .nav-active {
    display: flex;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    margin-bottom: 40px;
  }
}